/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

@import "../../../node_modules/@angular/material/theming";
@include mat-core();

body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: Roboto, sans-serif;
}

.mat-input-element{
  color:white !important;
}

.no-padding-bottom{
  mat-form-field{
    margin-bottom: -1.25em !important;
    padding-bottom: 0;
  }

  .mat-form-field-wrapper {
    margin: 0 !important;
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ff735c;
}

// outiline on focus
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #ff735c !important;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color: #ff735c;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
}
